@import 'variables';
.navbar {min-height:20px ;}
.navbar {
  padding: 5px;
  margin-bottom: 10px;
  
  .bwm-search {
   
    width: 300px;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $main-color;
    font-weight: 500;

    img {
      margin-top: 15px;
      height: 20px;
    }
  }

  .nav-item {
    font-size: 12px;
  }

  .btn-bwm-search {
    border-color: $main-color;
    color: $main-color;
   
    padding-bottom: 10px;
    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: $main-color !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }

  .dropdown-item {
    font-size: 14px;

    &:active, &:focus {
      background-color: $main-color;
    }
  }
}
